.floor-plan-container {
  margin: 10px auto;
  background-color: white;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
}


.floor-plan-svg {
  background-color: #f0f0f0;
  border-radius: 4px;

}

.size {
  width:738px;
  height: 393px;
}